###> symfony/framework-bundle ###
# dev, test, prod
#APP_ENV=dev
#APP_DEBUG=true
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
###< doctrine/doctrine-bundle ###

#REDIS_CACHE_URL=redis://localhost:6379/10

#MEMCACHED_SERVER=localhost
#MEMCACHED_PORT=11211

#SERVER_PREFIX=prefix

#ADMIN_PASSWORD=admin_password
#ADMIN_EMAIL=adminemail@example.com

###> symfony/messenger ###
# MESSENGER_TRANSPORT_DSN is used by messenger.yaml and RabbitMQ class for all queues
MESSENGER_TRANSPORT_DSN=amqp://admin:admin@localhost:7004/%2f
###< symfony/messenger ###
