parameters:
	ignoreErrors:
		-
			message: '#^Trait App\\Abstraction\\Traits\\BasicEnumMethodsTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: App/Abstraction/Traits/BasicEnumMethodsTrait.php

		-
			message: '#^Property App\\Http\\Controller\\PaymentCrudController\:\:\$paymentRepository \(App\\Repository\\Payments\\PaymentRepository\) does not accept PHP_SF\\System\\Classes\\Abstracts\\AbstractEntityRepository\<App\\Entity\\Payments\\Payment\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: App/Http/Controller/PaymentCrudController.php

		-
			message: '#^Property App\\Http\\Controller\\PostCrudController\:\:\$postRepository \(App\\Repository\\Blog\\PostRepository\) does not accept PHP_SF\\System\\Classes\\Abstracts\\AbstractEntityRepository\<App\\Entity\\Blog\\Post\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: App/Http/Controller/PostCrudController.php

		-
			message: '#^Property App\\Http\\Controller\\UserCrudController\:\:\$userRepository \(App\\Repository\\Main\\UserRepository\) does not accept PHP_SF\\System\\Classes\\Abstracts\\AbstractEntityRepository\<App\\Entity\\Main\\User\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: App/Http/Controller/UserCrudController.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\HttpFoundation\\Session\\SessionInterface\:\:getFlashBag\(\)\.$#'
			identifier: method.notFound
			count: 7
			path: App/Http/SymfonyControllers/PaymentCrudSymfonyController.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\HttpFoundation\\Session\\SessionInterface\:\:getFlashBag\(\)\.$#'
			identifier: method.notFound
			count: 7
			path: App/Http/SymfonyControllers/PostCrudSymfonyController.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\HttpFoundation\\Session\\SessionInterface\:\:getFlashBag\(\)\.$#'
			identifier: method.notFound
			count: 7
			path: App/Http/SymfonyControllers/UserCrudSymfonyController.php
